ASPLaboration/Connected Services/FilmService/FilmService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebbserviceFilm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebbserviceFilm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilmData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilmData" nillable="true" type="tns:FilmData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilmData" nillable="true" type="tns:ArrayOfFilmData" />
  <xs:complexType name="FilmData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Regissör" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="År" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmData" nillable="true" type="tns:FilmData" />
</xs:schema>